.jumbotron {
    background-color: rgb(7, 116, 92);
}
.h1{
    font-size: 12;
    font: outline;
    font: italic;
}
.card-header{
    background-color: rgb(13, 115, 209);
}

.card-body{
    background-color: rgba(184, 105, 16, 0.534);
}